html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 90%; 
}

#title {
  background: #80b7db;
  height: 300px;
  width: 230px;
  opacity: 0.75;
  top: 8px;
  left: 8px;
  padding: 15px;
  position: absolute;
  font-family: calibri; 
}

.h1 {
  font-family: calibri; 
  font-weight: bold;
  font-size: x-large; 
  color: #0D497C;
}

#dep {
  border-radius: 50%;
  border: 2px solid black;
  height: 7px;
  width: 7px;
  display: inline-block;
}

#wta {
  border-radius: 50%;
  border: 2px solid white;
  height: 7px;
  width: 7px;
  display: inline-block;
}

#legend {
  background: white;
  opacity: 0.7;
  height: 215px;
  width: 290px;
  text-align: left;
  bottom: 100px;
  font-family: calibri;
  font-size: 90%;
  position: absolute;
  left: 5px;
  padding: 5px;
  }

#legend-content {
  padding: 5px;
  font-family: calibri;
}

.acceptable {
  background: #1a9641;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.unacceptable {
  background: #fdae61;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.unacceptable2 {
  background: #d7191c;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.entero {
  font-size: x-small;
  padding: 0px;
}

.leaflet-popup {
  color: #0D497C;
  font-size: 16px;
  font-family: calibri;
  font-weight: bold;
}

.date {
  font-size: 10px;
  font-weight: normal;
}

#chart {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

svg {
  display: block;
  margin: auto;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #DDD;
}

.axis2 line,
.axis2 path {
  fill: none;
  stroke: #FFF;
}

.axis text, 
.axis2 text {
  fill: #999;
}

.bar {
	fill: #81B7DB;
	stroke: #81B7DB;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

.precipitation {
  font-family: calibri; 
  font-weight: bold;
  font-size: large; 
  color: #0D497C;
  margin-top: 20px;
  margin-left: 20px;
}

.precipitation_subtitle {
  height: 20px;
  font-family: calibri; 
  font-weight: bold;
  font-size: medium; 
  color: #0D497C;
  margin-left: 20px;
}